/*
  Style.css is the main stylesheet for the home page

*/



/*
    css for the naviagtion bar
*/

.navbar
{
    background-color: rgb(226, 226, 226);
    overflow: hidden;
}

/*
  css for the elements in the navigation bar
*/

.navbar a 
{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 2%;
    margin-right: 2%;
  }

/*
  css when hovering the elements in the navigation bar
*/

.navbar a:hover 
  {
    background-color: #ffffff;
    color: rgb(213, 103, 103);
  }

/*
  css for when the elements are clicked in the navigation bar
*/

.navbar a:active 
  {
    background-color: #ffffff;
    color: rgb(213, 103, 103);
  }


#logo
 {
    height: 85px;
    width: 85px;
    border-radius: 12%;
    margin-left: 48%;
 }

#line_break_top_mp
{
  padding-bottom: 200px;
  width: 200%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  
  margin: 0;

}

#line_break_bottom_mp
{
  width: 200%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  
  margin: 0;

}

.Main_table_rank
{
  border: 1px solid black; 
}

#table,th,td
{
  border: 1px solid black; 
  width: 20%;
  margin-bottom: 20%; 
}


