/*
  Style.css is the main stylesheet for the home page

*/



/*
    css for the naviagtion bar
*/

.navbar
{
    background-color: rgb(226, 226, 226);
    overflow: hidden;
}

/*
  css for the elements in the navigation bar
*/

.navbar a 
{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 2%;
    margin-right: 2%;
  }

/*
  css when hovering the elements in the navigation bar
*/

.navbar a:hover 
  {
    background-color: #ffffff;
    color: rgb(213, 103, 103);
  }

/*
  css for when the elements are clicked in the navigation bar
*/

.navbar a:active 
  {
    background-color: #ffffff;
    color: rgb(213, 103, 103);
  }


#logo
 {
    height: 85px;
    width: 85px;
    border-radius: 12%;
    margin-left: 48%;
 }

#line_break_top_mp
{
  padding-bottom: 200px;
  
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  
  margin: 0;

}

#line_break_bottom_mp
{
  
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  
  margin: 0;

}

.Main_table_rank
{
  border: 1px solid black; 
}

table,tr
{
  border: 1px solid black; 
  width: 20%;
}


.row_num
{
  width: 1%; 
  height: 1%; 
  background-color: transparent;
  color: #000000;

}

td
{
  background-color: #72A882;
  border: 1px solid black; 
  width: 20%;
  color: #ffffff;
}

td:hover
{
  background-color: rgb(90, 109, 96);
}


.showcase
{
  height: 500px;  
  max-height: 500px;
  max-width: 750px;
  float: left;
  padding-right: 100%;
  padding-bottom: 10px;
}


.buttons 
{
  position: absolute;
  top: 62%;
  right: 10%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button 
{
  width: 300px; 
  height: 60px; 
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #72A882;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button:hover 
{
  background-color: rgb(90, 109, 96);
}

.coffee_homescreen_1
{
  max-width: 968px;
  margin-left:auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 1.5rem;
  margin-top: 2rem; 
  height:300px;
  width:200;
  position: absolute;
  top: 60%;
  left: 25%;
  
}

.coffee_homescreen_1 .coffee_grid
{
  padding: 20px;
  box-shadow:  1px, 2px, 11px, 4px rgb(14, 55, 54 / 15%);
  border-radius: 0.5rem;
  position: relative;
  
}
.coffee_homescreen_1 .coffee_grid img
{
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  border: none;
  border-radius: 5px;
}